.team__scroller {
  display: flex;
  gap: 0.9rem;
  max-width: 1920px;
  margin: 0 auto;
  flex-wrap: nowrap;
  animation: scroll 70s linear infinite;
  -webkit-animation: scroll 70s linear infinite;
}

.team__scroller:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
    -webkit-transform: translate(calc(-50% - 0.5rem));
    -moz-transform: translate(calc(-50% - 0.5rem));
    -ms-transform: translate(calc(-50% - 0.5rem));
    -o-transform: translate(calc(-50% - 0.5rem));
  }
}
