:root {
  --border-size: 2px;
  --border-radius: 5px;
  --color-gray: #e1e4e7;
  --color-active: #b469ff;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 7px;
  width: fit-content;
  list-style-type: unset;
  /* border: var(--border-size) solid var(--color-gray); */
  padding: 8px 10px;
  border-radius: var(--border-radius);
  user-select: none;
  margin-block: 3.5rem;
}

.pagination-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.pagination-item:hover {
  cursor: pointer;
  background-color: var(--color-active);
  transition: background-color 0.1s linear;
}

.pagination-item-active {
  color: white;
  background-color: var(--color-active);
  pointer-events: none;
  transition: background-color 0.1s linear;
}
