@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .details-marker-none::marker {
    display: none;
  }
  .details-marker-none summary::-webkit-details-marker {
    display: none;
  }
}
@layer components {
  .file-upload {
    @apply transition ease-in-out duration-300;
    &:hover {
      @apply bg-blue-500 text-white;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h3,
h3,
h4,
h5,
h6,
button,
li,
select {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

div,
span,
p,
input,
option,
small {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #01002f;
  background-position: center;
  background-size: cover;
  color: white;
  width: 100%;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

::selection {
  background-color: #9333ea;
  color: white;
}

body {
  /* --sb-track-color: #232e33; */
  --sb-thumb-color: #b469ff;
  --sb-size: 5px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.details_page_slider .mySwiper {
  height: 100%;
}
.details_page_slider .mySwiper .swiper-button-next:after {
  color: #b469ff;
}
.details_page_slider .mySwiper .swiper-button-prev:after {
  color: #b469ff;
}
.swiper-pagination-bullet-active {
  background: #b469ff !important;
}

.pagination {
  margin-bottom: 0 !important;
}

/* Arrow icon */
.arrow_link {
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow_link:hover h3 {
  color: #b469ff;
  border-color: #b469ff;
}

.arrow_link .arrow {
  width: 20%;

  opacity: 0.8;
  transition: all 0.3s ease;
}

.arrow_link:hover .arrow {
  width: 50%;
}

.arrow {
  margin-top: 1em;
  margin-right: 2em;
  border: 1px solid #b469ff;
  position: relative;
  background-color: #b469ff;
}

.arrow .head,
.arrow .head:after {
  border: 2.5px solid #b469ff;
  border-radius: 2px;
  width: 18px;
  background-color: #b469ff;
  position: absolute;
  right: -5px;
  top: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.arrow .head:after {
  content: "";
  border-color: #b469ff;
  right: -9px;
  top: -9px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.slide img {
  height: 100%;
  object-fit: cover;
}
